#cloud-config
packages:
  - docker-ce
write_files:
  - content: |
    ${krb5_conf}
  encoding: base64
  owner: root:root
  path: /etc/krb5.conf
  permissions: '0644'

runcmd:
  - docker pull hashicorp/tfc-agent:latest
  - docker run -e TFC_AGENT_TOKEN=${agent_token} -e TFC_AGENT_NAME=${agent_name} --mount type=bind,source=/etc/krb5.conf,target=/etc/krb5.conf --restart always hashicorp/tfc-agent
